@use "sass:color";
@use "variables" as *;

@use "bulma/sass" with (
  $family-primary: '"Lato", sans-serif',
  $family-secondary: $family-tertiary,
  $body-weight: 400,
  $weight-bold: 600,
  $navbar-background-color: transparent,
  $navbar-item-color: $color-black,
  $navbar-height: 4rem,
  $body-color: $color-black,
  $title-family: '"Corben", sans-serif',
  $title-weight: 700,
  $title-size: 7rem,
  $title-color: $color-title,
  $footer-background-color: $color-primary-dark,
  $footer-color: $color-white,
  $footer-padding: 1.5rem 3rem
);


