@use "sass:color";
@use "variables" as *;

@use "bulma/sass" with (
  $family-primary: '"Lato", sans-serif',
  $family-secondary: '"Corben", sans-serif',
  $weight-bold: 400,
  $navbar-background-color: transparent,
  $navbar-item-color: $color-black,
  $navbar-height: 4rem,
  $footer-padding: 1.5rem,
  $body-color: $color-black,
  $title-family: '"Corben", sans-serif',
  $title-weight: 700,
  $title-size: 7rem,
  $title-color: $color-title,
);


