// Base sizes
$base-font-size: 1rem !default;
$base-line-height: 1.5 !default;
$base-font: 'Open Sans';

// Colours
$color-primary: #f172a1;
$color-primary-dark: #e64398;
$color-secondary: #a1c2d1;
$color-accent: #fdd36b;

$color-black: #3e3e3e;
$color-white: #ffffff;
$color-grey: #a0a0a0;
$color-grey-light: #d3d3d3;

$color-background: rgba(240, 235, 244, 0.35);
$color-title: #b29bc7;

// Size
$width-container: 60rem !default;

// Responsive breakpoints
$breakpoint-mobile-small: 460px;
$breakpoint-mobile: 640px;
$breakpoint-desktop: 960px;
$breakpoint-desktop-large: 1280px;

// Additional Typeface
$family-raleway: 'Raleway', sans-serif;
$family-raleway-weight: 600;
