// Colours
$color-primary: #f172a1;
$color-primary-dark: #e64398;
$color-secondary: #a1c2d1;
$color-accent: #fdd36b;

$color-black: #3e3e3e;
$color-white: #ffffff;
$color-grey: #a0a0a0;
$color-grey-light: #d3d3d3;

$color-background: rgba(240, 235, 244, 0.35);
$color-title: #b29bc7;

// Size
$width-container: 60rem !default;

// Responsive breakpoints
$breakpoint-mobile-small: 460px;
$breakpoint-mobile: 640px;
$breakpoint-desktop: 960px;
$breakpoint-desktop-large: 1280px;

// Typefaces
$family-raleway: 'Raleway', sans-serif;
$family-raleway-bold: 600;
$family-corben: 'Corben', sans-serif;
$family-corben-bold: 700;
$family-lato: 'Lato', sans-serif;
$family-lato-normal: 400;
$family-lato-bold: 700;
