// Base sizes
$base-font-size: 1rem !default;
$base-line-height: 1.5 !default;
$base-font: 'Open Sans';

// Colours
$color-primary: #E64398;
$color-primary-light: #F172A1;
$color-secondary: #A1C2D1;
$color-accent: #FDD36B;

$color-black: #3E3E3E;
$color-white: #ffffff;
$color-grey: #a0a0a0;
$color-grey-light: #d3d3d3;

$color-background: rgba(240, 235, 244, 0.35);
$color-title: #B29BC7;

// Size
$width-container: 60rem !default;

// Responsive breakpoints
$breakpoint-mobile-small: 460px;
$breakpoint-mobile: 640px;
$breakpoint-desktop: 960px;
$breakpoint-desktop-large: 1280px;

// Additional Typeface
$family-tertiary: "Raleway", sans-serif;
$family-tertiary-weight: 600;
