<header class="header-section">
  <div class="container">
    <nav class="navbar is-top-menu" role="navigation" aria-label="main navigation">
      <!-- Left side menu items -->
      <div class="navbar-brand">
        <!-- Bulma's hamburger menu for mobile -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="topNavbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <!-- Menu items using Bulma's navbar structure -->
      <div id="topNavbarMenu" class="navbar-menu">
        <div class="navbar-start is-custom">
          <a class="navbar-item is-tab" href="/#about">About</a>
          <a class="navbar-item is-tab" href="/blog">Blog</a>
        </div>

        <!-- Centered logo -->
        <div class="navbar-item is-logo">
          <a class="logo logo--header" href="/">
          </a>
        </div>

        <div class="navbar-end">
          <a class="navbar-item is-tab" href="/sightings">Sightings</a>
          <div class="navbar-item has-donate-button">
            <a class="button is-donate" href="/donate">Donate</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
