{% load static %}

<link rel="icon" href="{% static 'src/img/favicon.svg' %}" type="image/svg+xml">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="description" content="" />
<meta property="og:title" content="{{ current_site.site_name }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="" />
<meta property="og:image" content="{% static 'src/img/logo.png' %}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:site_name" content="{{ current_site.site_name }}" />
<meta name="twitter:title" content="{{ current_site.site_name }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="" />
<meta name="twitter:site" content="{{ current_site.site_name }}" />
<meta name="twitter:creator" content="Kyle Stevenson" />
<meta name="twitter:image:src" content="{% static 'src/img/logo.png' %}" />
