<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load webpack_tags %}

<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
  <head>
    <title>
      {% block title %}
        {{ request.site.name }}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% webpack_static 'styles.css' %}" />
    <link rel="canonical" href="{{ request.build_absolute_uri }}" />
    {% include 'includes/fonts.html' %}
    {% include 'includes/meta.html' %}
    {% if BROWSERSYNC_URL %}
      <script src="{{ BROWSERSYNC_URL }}" async></script>
    {% endif %}
    {% if SENTRY_JS_URL %}
      {% if SENTRY_JS_CONFIG %}
        {{ SENTRY_JS_CONFIG|json_script:"sentry-config" }}
      {% endif %}
      <script src="{% webpack_static 'js/sentry_config.js' %}"></script>
      <script src="{{ SENTRY_JS_URL }}" crossorigin="anonymous"></script>
    {% endif %}
    <script src="https://unpkg.com/htmx.org@1.9.10" defer></script>
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    {% include 'includes/header.html' %}
    <main class="main">
      {% block main %}
        <div id="app">
        </div>
      {% endblock main %}
    </main>
    {% include 'includes/footer.html' %}
    {% include 'donations/donations_modal.html' %}
    <script src="{% webpack_static 'app.js' %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
