<!DOCTYPE html>
{% load i18n %}
{% load static %}

<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
  <head>
    <title>
      {% block title %}
        {{ request.site.name }}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'dist/css/styles.css' %}" />
    <link rel="canonical" href="{{ request.build_absolute_uri }}" />
    {% include 'includes/fonts.html' %}
    {% include 'includes/meta.html' %}
    {% if BROWSERSYNC_URL %}
      <script src="{{ BROWSERSYNC_URL }}" async></script>
    {% endif %}
    {% if SENTRY_JS_URL %}
      {% if SENTRY_JS_CONFIG %}
        {{ SENTRY_JS_CONFIG|json_script:"sentry-config" }}
      {% endif %}
      <script src="{% static 'dist/js/sentry_config.js' %}"></script>
      <script src="{{ SENTRY_JS_URL }}" crossorigin="anonymous"></script>
    {% endif %}
  </head>
  <body>
      {% include 'includes/header.html' %}

      <main class="main">
        {% block main %}
          <div id="app">
          </div>
        {% endblock main %}
      </main>


      {% include 'includes/footer.html' %}

      <script src="{% static 'dist/js/app.js' %}"></script>
      <script src="{% static 'dist/js/base.js' %}"></script>
      {% block extra_scripts %}
      {% endblock extra_scripts %}
  </body>
</html>
