{% extends 'base.html' %}

{% load static %}

{% block main %}

  <section class="hero is-fullheight-with-navbar top-section">
    <div class="hero-body is-family-secondary">
      <div class="container has-text-centered">
        <p class="title">
          Keep Our<br/>
          Rainbow<br/>
          Alive
        </p>
      </div>
    </div>
  </section>

  <section id="about" class="hero is-large middle-section">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="about-image"></div>

          </div>
          <div class="column">
            <h1 class=" is-family-secondary ">about</h1>
            <p>Since the Middle Ages, our organisation has been keep a watchful eye over theses majestic creatures
              across
              their natural habitat amongst the Scottish Highlands and along the Cornish Beaches. Sadly, with each
              century
              that passes their numbers grow fewer. Soon, these mythical land narwhals may disappear forever
              jeprodisring
              the
              delicate our rainbow ecosystem. Our mission is to raise awareness and funds to create a private sanctuary
              for
              all unicorns.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="blog" class="bottom-section">
    <div class="container">
      <h1>blog</h1>
      <p>These are some of the recent insights gathered.</p>
    </div>
  </section>

{% endblock main %}
