{% extends 'base.html' %}

{% load static %}

{% block main %}

  <section class="hero is-fullheight-with-navbar hero-section">
    <div class="hero-body is-family-secondary">
      <div class="container has-text-centered">
        <div class="title">
          Keep Our<br/>
          Rainbow<br/>
          Alive
        </div>
        <div class="chevron-down"></div>
      </div>
    </div>
  </section>

  <section id="about" class="section is-large about-section">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="about-image"></div>
          </div>
          <div class="column">
            <h1 class="title">about</h1>
            <p>Since the Middle Ages, our organisation has been keep a watchful eye over theses majestic creatures
              across
              their natural habitat amongst the Scottish Highlands and along the Cornish Beaches. Sadly, with each
              century
              that passes their numbers grow fewer. Soon, these mythical land narwhals may disappear forever
              jeprodisring
              the
              delicate our rainbow ecosystem. Our mission is to raise awareness and funds to create a private sanctuary
              for
              all unicorns.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="blog" class="section is-large blog-section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">blog</h1>
          <p>These are some of the recent insights gathered.</p>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="https://bulma.io/assets/images/placeholders/1280x960.png"
                  alt="Placeholder image"
                />
              </figure>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="https://bulma.io/assets/images/placeholders/1280x960.png"
                  alt="Placeholder image"
                />
              </figure>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="https://bulma.io/assets/images/placeholders/1280x960.png"
                  alt="Placeholder image"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section sightings-section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <p>
            Explore the world’s largest database of confirmed unicorn sightings dating back to the
            early 15th Century.
          </p>
        </div>
        <div class="column">
          <h1 class="title">sightings</h1>
        </div>
      </div>


    </div>
  </section>

{% endblock main %}
